/* Single */

.post_container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding-top: var(--b-space-1);
    .date {
        background-color: #F3F3F3;
        font-size: 16px;
        @include tab-max {
            font-size: 14px;
        }
        padding: 8px 13px;
        color: #151515;
        margin-bottom: 2rem;
        display: inline-block;
    }
    p {
        margin-bottom: 4.7rem;
    }
    h2, h3, h4, h5, h6 {
        font-family: Montserrat;
        text-transform: none;
        font-weight: 600;
        color: var(--color-1)
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.5rem;
    }
}
.post-navigation {
    padding-top: 7.8rem;
    display: block;
    padding-bottom: 14rem;
}
.nav-previous {
    margin-right: 10px;
    a {
        background-image: url(https://taryag.ilogic-dev.net/wp-content/themes/taryag/assets/icons/left-arrow.svg);
    }
}
.nav-next a {
    background-image: url(https://taryag.ilogic-dev.net/wp-content/themes/taryag/assets/icons/right-arrow.svg);
}
.nav-previous, .nav-next {
    display: flex;
    a {
        border-radius: 0;
        opacity: 1;
        transition: var(--theme-transition);
        background-color: var(--color-1);
        background-repeat: no-repeat;
        background-position: center;
        width: 4rem;
        height: 4rem;
        background-size: 50%;
        display: block;
        &:hover {
            opacity: .8;
        }
    }
}

/* Archive */

.blog, .archive {
    main {
        padding-top: 0rem;
    }
    .il_blog_post {
        display: flex;
        justify-content: space-between;
        margin-bottom: 14rem;
        @include mob-only {
            margin-bottom: 11rem;
        }
       @include limbo-min {
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
        .il_bp_left {
            width: 49%;
        }
        .il_bp_right {
            width: 45%;
        }
       }
       @include tab-max {
        flex-direction: column-reverse;
        .il_bp_right {
            margin-bottom: 6rem;
        }
       }
        .il_bp_left {
            display: flex;
            flex-direction: column;
            @include desk-min {
                padding-top: 2vh;
            }
            .il_bp_title {
                color: var(--color-1);
                text-decoration: none;
            }
            .date {
                background-color: #F3F3F3;
                font-size: 16px;
                @include tab-max {
                    font-size: 14px;
                }
                padding: 8px 13px;
                color: #151515;
                margin-bottom: 2rem;
                display: inline-block;
                width: fit-content;
            }
            .il_bp_text {
                color: var(--color-1);
                font-size: 2rem;
                @include mob-only {
                    margin-top: 2rem;
                }
                margin-bottom: 2rem;
                @include limbo-max {
                    font-size: 16px;
                }
            }
            .il_btn {
               margin: 3.5rem auto 0 0;
               @include tab-max {
                margin: 5rem auto 0 0;
               }
               color: var(--color-2);
                svg {
                    path {
                        fill: var(--color-2);
                    }
                }
            }
        }
    }
    .posts-navigation .nav-links {
        a {
            font-size: 0;
        }
    }
}

// Inner hero fix

.blog, .single-post {
    .il_inner_hero_bg img {
        width: 100% !important;
    }
    .il_inner_hero_inner {
        background-color: transparent !important;
    }
}

.blog {
    .il_inner_hero {
        min-height: unset;
    }
}

.single-post {
    @include tab-max {
        .il_inner_hero_inner_top {
            min-height: 70rem;
            .mob_bg {
                height: 63% !important;
            }
        }
        .il_inner_hero_bg_svg {
            height: 130% !important;
            top: -51% !important;
            left: -21% !important;
        }
    }
}