.site-footer {
    .footer_main {
        padding-top: 6rem;
        padding-bottom: 6rem;
        background-color: #031133;
        .container {
            display: flex;
            align-items: center;
            @include limbo-max {
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
        @include limbo-max {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
        @include tab-only {
            padding-top: 3rem;
        }
        @include mob-only {
            padding-top: 6rem;
        }
    }
    .footer_logo {
        max-height: 6rem;
        img {
            width: auto;
            max-height: 6rem;
        }
        @include limbo-max {
            width: 100%;
            margin-bottom: 4rem;
        }
        @include tab-max {
            max-height: 7rem;
            img {
                max-height: 7rem;
            }
        }
        @include mob-only {
            text-align: center;
        }
    }
    #footer.menu {
        display: flex;
        list-style: none;
        margin: 0;
        flex-wrap: wrap;
        li {
            a {
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                color: #fff;
                font-weight: 500;
            }
            @include desk-min {
                margin-left: 4rem;
            }
            @include limbo-max {
                text-align: left;
                width: 33%;
                padding-bottom: 2rem;
                a {
                    font-size: 16px !important;
                }
            }
            @include mob-only {
                text-align: center;
                width: 100%;
                padding-bottom: 2.5rem;
            }
        }
        @include limbo-max {
            padding-left: 0;
        }
        @include mob-only {
            margin-top: 2rem;
            margin-bottom: 3rem;
        }
    }
    .footer-icons {
        @include mob-only {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include tab-only {
            align-self: baseline;
        }
        .ln-footer-link {
            @include mob-only {
                margin-top: 4rem;
            }
            @include tab-min {
                margin-left: 5rem;
            }
        }
    }
    .footer_bottom {
        text-align: center;
        color: var(--color-1);
        opacity: .6;
        font-size: 18px;
        @include tab-max {
            text-align: left;
        }
        @include mob-only {
            font-size: 16px;
        }
        p {
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: #0067A1;
            font-weight: 500;
        }
    }
}