.il_inner_hero {
    min-height: 40rem;
    position: relative;
    display: flex;
    overflow: hidden;
    .il_inner_hero_bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        pointer-events: none;
        text-align: right;
        img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }
        @include tab-max {
            display: none;
        }
    }
    .il_inner_hero_bg_svg {
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        @include tab-max {
            height: 130%;
            top: -31%;
            left: -9%;
        }
    }
    .il_inner_hero_icon_svg {
        position: absolute;
        margin-top: 1rem;
        margin-left: 3rem;
        pointer-events: none;
        width: 4.8rem;
        height: 4.1rem;
        @include tab-max {
            max-width: 6rem;
        }
    }
    .il_inner_hero_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        @include tab-max {
            background-color: rgba(255,255,255, .6);
        }
    }
    .il_inner_hero_title {
        color: #fff;
        font-size: var(--title-size-3);
        @include limbo-max {
            font-size: var(--title-size-2);
        }
        @include desk-min {
            max-width: 50%;
        }
        font-weight: 500;
        text-transform: uppercase;
    }
    .il_inner_hero_text p {
        color: #fff;
        font-size: 3rem;
        font-weight: 500;
        @include lg-desk-min {
            max-width: 55%;
        }
        @include before-huge-desk-min {
            max-width: 45%;
        }
    }
    .il_inner_hero_inner_top {
        position: relative;
        z-index: 2;
        .container {
            padding: 8rem 0 27rem 0;
            @include limbo-only {
                padding: 7rem 0 20rem 0 !important;
            }
            @include sm-desk-only {
                padding: 8rem 0 20rem 0 !important;
            }
            @include md-desk-min {
                padding: 8rem 0 21rem 0 !important;
            }
            @include desk-min {
                .il_inner_hero_text {
                    padding-bottom: 4rem;
                }
            }
            @include tab-max {
                .il_inner_hero_text {
                    padding-bottom: 6rem;
                }
            }
        }
        .il_block_bg .mob_bg {
            z-index: -1;
            @include tab-max {
                height: 43%;
                bottom: 0;
                object-position: top;
            }
        }
    }
    .il_inner_hero_inner_bottom {
        position: relative;
        z-index: 2;
        padding-top: 1rem;
        padding-bottom: 14rem;
        @include tab-max {
            padding-top: var(--b-space-2);
            background: white;
        }
        .il_inner_hero_inner_bottom_content {
            @include limbo-min {
                width: 50%;
            }
        }
    }
    .il_inner_hero_inner_bottom_title, .il_inner_hero_inner_bottom_text {
        color: var(--color-1);
    }
    .il_btn_text {
        color: var(--color-3);
    }
    .il_btn_icon svg path {
        fill: var(--color-3);
    }
}

.vision-mission-hero {
    .il_inner_hero_inner_bottom {
        @include tab-max {
            padding-bottom: 7rem;
        }
        @include limbo-min {
            padding-bottom: 24rem;
        }
    }
}

.contact-us-hero {
    .il_inner_hero_bg img {
        @include desk-min {
            width: 50%;
            object-position: top;
        }
    }
    .il_inner_hero_inner_bottom {
        @include tab-max {
            padding-top: 7rem;
        }
        .il_inner_hero_inner_bottom_content {
            @include limbo-min {
                margin-top: -5rem;
            }
            input:not(.wpcf7-submit), select, textarea {
                width: 70%;
                @include mob-only {
                    width: 100%;
                }
                @include tab-only {
                    width: 90%;
                }
                @include limbo-only {
                    width: 90%;
                }
            }
            @include mob-only {
                width: 100%;
            }
            @include tab-only {
                width: 90%;
            }
            @include limbo-only {
                width: 70%;
            }
            @include desk-min {
                width: 55%;
            }
            .tg_title_1 {
                margin-bottom: 6.5rem;
            }
            .custom-cf7-title-space {
                @include limbo-min {
                    margin-top: 6rem;
                    margin-bottom: 18rem;
                }
            }
        }
    }
}

.overkill-hero {
    @include limbo-min {
        .il_inner_hero_title {
            max-width: 50%;
        }
    }
}

.sterilization-hero, .manufacturing-hero, .packaging-hero, .validation-hero, .laboratories-hero {
    .il_inner_hero_inner_top {
        .il_inner_hero_title {
            font-family: Kodchasan;
            text-transform: none;
        }
    }
}

.packaging-validation-hero {
    @include mob-only {
        .il_buttons .il_btn_text {
            font-size: 14px;
        }
    }
}

.taryag-cleanrooms-hero {
    @include mob-only {
        .il_buttons .il_btn_text {
            font-size: 14px;
        }
    }
}

.bycross-tech-hero {
    .il_inner_hero_bg {
        width: 42%;
        height: fit-content;
        left: auto;
        @include tab-max {
            img {
                object-position: bottom;
            }
        }
        @include limbo-only {
            width: 41%;
            top: 6rem;
            right: -71px;
        }
    }
    .il_inner_hero_inner {
        .il_inner_hero_inner_top {
            .il_block_bg img {
                @include tab-only {
                    width: auto;
                    right: 5rem;
                }
                @include tab-max {
                    object-position: bottom;
                }
            }
        }
        .il_inner_hero_inner_bottom {
            @include tab-max {
                padding-top: 0;
                margin-top: -3rem;
                background: transparent;
            }
            @include tab-only {
                margin-top: -5rem;
            }
            .il_inner_hero_inner_bottom_content {
                @include limbo-min {
                    width: 88%;
                    margin-top: -5rem;
                }
                .il_inner_hero_inner_bottom_text {
                    @include limbo-min {
                        p:first-child {
                            max-width: 95.8rem;
                        }
                    }
                }
            }
        }
    }
}

.publications-and-endorsements-hero {
    .il_inner_hero_inner_top .container {
        @include mob-only {
            padding: 8rem 0 32rem 0;
            svg {
                left: -22%;
            }
        }
        @include md-desk-min {
            padding: 8rem 0 25rem 0 !important;
            .il_inner_hero_title {
                margin-top: 2rem;
            }
        }
    }
    .il_inner_hero_inner_bottom {
        margin-top: -5rem;
        background: transparent;
        @include tab-max {
            padding-top: 0;
            margin-top: -10rem;
        }
        @include mob-only {
            margin-top: -15rem;
        }
        .il_inner_hero_inner_bottom_content {
            .il_inner_hero_inner_bottom_title {
                margin-bottom: 0;
            }
            @include limbo-only {
                width: 88%;
            }
        }
    }
}