// File location: assets\src\sass\styles\template-style

:root {
  --color-1: #041B4F;
  --color-2: #FEC000;
  --color-3: #009688;
  --color-4: #05B0D6;
  --color-text: #041B4F;

  --title-size-1: 7.3rem;
  --title-size-2: 6.6rem;
  --title-size-3: 5rem;
  --title-size-4: 3rem;
  --title-size-5: 2.5rem;
  --title-size-6: 2rem;

  --body-style-: 2rem;

  --title-line-height: 1.5;

  --b-space-1: 14.7rem;
  --b-space-2: 12rem;
  --b-space-3: 23rem;

  --theme-transition: .3s all;

  @media (min-width: 797.6px) /* Insert the same width as limbo-min variable */ {
    --site-width: 90%;
  }

  @media (max-width: 797.5px) /* Insert the same width as tab-max variable */ {
    --site-width: calc(100% - 50px);
    --b-space-1: 10rem;
    --b-space-2: 9rem;
  }
  --site-max-width: 1640px;
}

@mixin ab-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  pointer-events: none;
}


$mob-max: 479.5px;
$tab-min: 479.6px;
$tab-max: 797.5px;
$limbo-min: 797.6px;
$limbo-max: 1199.5px;
$desk-min: 1199.6px;
$sm-desk-max: 1360.5px;
$md-desk-min: 1360.6px;
$md-desk-max: 1659.5px;
$lg-desk-min: 1659.6px;
$before-huge-desk-min: 1921px;
$huge-desk-min: 2560px;
@mixin mob-only {
  @media (max-width: $mob-max) {
    @content;
  }
}

@mixin tab-min {
  @media (min-width: $tab-min) {
    @content;
  }
}

@mixin tab-max {
  @media (max-width: $tab-max) {
    @content;
  }
}

@mixin tab-only {
  @media (min-width: $tab-min) and (max-width: $tab-max) {
    @content;
  }
}

@mixin limbo-min {
  @media (min-width: $limbo-min) {
    @content;
  }
}

@mixin limbo-max {
  @media (max-width: $limbo-max) {
    @content;
  }
}

@mixin limbo-only {
  @media (min-width: $limbo-min) and (max-width: $limbo-max) {
    @content;
  }
}

@mixin desk-min {
  @media (min-width: $desk-min) {
    @content;
  }
}

@mixin sm-desk-only {
  @media (min-width: $desk-min) and (max-width: $sm-desk-max) {
    @content;
  }
}

@mixin sm-desk-max {
  @media (max-width: $sm-desk-max) {
    @content;
  }
}

@mixin md-desk-min {
  @media (min-width: $md-desk-min) {
    @content;
  }
}

@mixin md-desk-max {
  @media (max-width: $md-desk-max) {
    @content;
  }
}

@mixin md-desk-only {
  @media (min-width: $md-desk-min)  and (max-width: $md-desk-max) {
    @content;
  }
}

@mixin lg-desk-min {
  @media (min-width: $lg-desk-min) {
    @content;
  }
}

@mixin before-huge-desk-min {
  @media (min-width: $before-huge-desk-min) {
    @content;
  }
}

@mixin huge-desk-min {
  @media (min-width: $huge-desk-min) {
    @content;
  }
}
