// File location: assets\src\sass\styles\template-style


div, main {
  &.block_space_1 {
    padding-top: var(--b-space-1);
    padding-bottom: var(--b-space-1);
  }
  &.block_space_2 {
    padding-top: var(--b-space-2);
    padding-bottom: var(--b-space-2);
  }
  &.block_space_3 {
    padding-top: var(--b-space-3);
    padding-bottom: var(--b-space-3);
  }
  &.block_space_1_2 {
    padding-top: var(--b-space-1);
    padding-bottom: var(--b-space-2);
  }
  &.block_space_1_3 {
    padding-top: var(--b-space-1);
    padding-bottom: var(--b-space-3);
  }
  &.block_space_3_1 {
    padding-top: var(--b-space-3);
    padding-bottom: var(--b-space-1);
  }
  &.block_space_2_3 {
    padding-top: var(--b-space-2);
    padding-bottom: var(--b-space-3);
  }
  &.block_space_3_2 {
    padding-top: var(--b-space-3);
    padding-bottom: var(--b-space-2);
  }
  &.margin-sm {
    margin-bottom: 3rem;
  }
  &.margin-md {
    margin-bottom: 5rem;
  }
  &.margin-lg {
    margin-bottom: 7rem;
  }
  &.margin-xl {
    margin-bottom: 10rem;
  }
}

.il_block {
  position: relative;
  z-index: 2;
}
.il_block_bg {
  @include ab-bg;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

}
.mob_bg {
  z-index: 2;
  @include limbo-min {
    display: none;
  }
}
.desk_bg:not(:only-child) {
  @include tab-max {
    display: none;
  }
}

/* Buttons */

.il_buttons {
  margin-top: 4.5rem;
}
a.il_btn {
  text-decoration: none;
  color: var(--color-1);
  display: inline-flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: var(--theme-transition);
  .il_btn_icon {
    display: flex;
    transition: var(--theme-transition);
  }
  &:hover {
    .il_btn_icon {
      margin-left: 1rem;
      margin-right: -1rem;
    }
  }
  svg {
    height: 2rem;
    @include tab-max {
      height: 2.5rem;
    }
  }
  &:not(:last-child), &:not(:only-child) {
    margin-right: 5.5rem;
  }
}
