.il_gallery {
  &_inner {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    display: flex;
    height: 100%;
    &[data-fancybox="il_gallery"] {
      cursor: pointer;
    }
    img {
      height: 100%;
    }
  }
}
