.il_block.team {
  padding-top: 0;
  padding-bottom: 5rem;
  @include mob-only {
    padding-bottom: 0;
  }
}

.il_team_row {
  display: grid;
  margin: auto;
  @include limbo-max {
    width: 90%;
  }
  @include desk-min {
    width: 70vw;
  }
  @include huge-desk-min {
    width: calc(2560px - 15%);
  }
  @include limbo-min {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    grid-template-rows: repeat(2, auto);
  }
  @include tab-only {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-template-rows: repeat(3, auto);
  }
  column-gap: 30px;
  .il_team_member {
    margin-bottom: 6rem;
    @include limbo-min {
      .il_member_1 {
        grid-column: 1 / 2;
      }
      .il_member_2 {
        grid-column: 2 / 3;
      }
      .il_member_1 {
        grid-column: 3 / 4;
      }
      .il_member_4 {
        grid-column: 4 / 5;
      }
    }
    @include tab-only {
      .il_member_1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      .il_member_2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      .il_member_3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
      .il_member_4 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
    }
    @include mob-only {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
    .member_name {
      color: var(--color-1);
      display: flex;
      font-size: 2.6rem;
      margin-bottom: 1.5rem;
      align-items: flex-start;
      @include tab-max {
        font-size: 20px;
        svg {
          height: 20px;
        }
      }
      svg {
        margin-top: 0.5rem;
        @include mob-only {
          margin-top: 0.9rem;
        }
        margin-right: 1.5rem;
        transition: var(--theme-transition);
        path {
          transition: var(--theme-transition);
        }
      }
    }
    .member_position {
      color: var(--color-1);
      font-size: 2rem;
      @include tab-max {
        font-size: 16px;
      }
    }
    &:hover {
      cursor: pointer;
      .member_name {
        text-decoration: underline;
      }
      svg {
        transform: rotate(45deg);
        path {
          fill: var(--color-2);
        }
      }
    }
  }

  .member_text {
    position: relative;
    display: none;
    @include desk-min {
      background-image: url('https://taryag.ilogic-dev.net/wp-content/uploads/2022/12/red-yellow-line.svg');
      background-repeat: no-repeat;
      background-size: 18.4rem auto;
    }
    .close {
      position: relative;
      cursor: pointer;
    }

    @include desk-min {
      width: 100vw;
      left: -15vw;
      .close {
        top: -5rem;
      }
      .member_text_inner {
        background-position: top left;
        width: 70vw;
        margin: auto;
        margin-top: -22px;
      }
    }
    @include huge-desk-min {
      width: 2560px;
      left: calc(-7.5% - 30px);
      .member_text_inner {
        width: 100%;
      }
    }
    @include limbo-max {
      width: 110%;
      left: -5%;
      .close {
        top: -4rem;
      }
    }
    @include limbo-min {
      grid-row: 2 / 3;
      grid-column: 1 / 5;
    }
    @include tab-only {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      &.member_text_3, &.member_text_4 {
        grid-row: 4 / 5;
      }
    }
    transition: var(--theme-transiton);
    background-color: var(--color-1);
    color: #fff;
    padding: var(--b-space-1) var(--b-space-2) var(--b-space-2);
  }

  @include tab-min {
    &:not(:last-child) {
      .member_text {
        margin-bottom: 6rem;
      }
    }
  }
}

@include limbo-min {
  .il_block.team:after {
    content: "";
    background: url("https://taryag.ilogic-dev.net/wp-content/uploads/2022/12/team-bottom-right.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    width: 36.9rem;
    height: 52.7rem;
    right: 0px;
    bottom: 0px;
    z-index: -1;
  }
}
